.navbar--primary {
    background-color: #17D4A5;
    height: 10vh;
    width: 100%;
    border-bottom: 10px solid #11698e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarlogo__link {
    text-decoration: none;
}

.navbar__span {
    font-family: 'Fredoka';
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    color: white;
}

@media only screen and (max-width: 600px) {

    .navbar__span {
        font-family: 'Fredoka';
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        color: white;
    }
}