.navbar--primary {
    background-color: #17D4A5;
    height: 10vh;
    width: 100%;
    border-bottom: 10px solid #11698e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navbarlogo__link {
    text-decoration: none;
}

.navbar__span {
    font-family: 'Fredoka';
    font-size: 3em;
    padding: 0px;
    margin: 0px;
    color: white;
}

@media only screen and (max-width: 700px) {

    .navbar__span {
        font-family: 'Fredoka';
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        color: white;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {

        .navbar__span {
            font-size: 3em;
        }

        .navbar--primary {
            height: 7.5vh;
        }
}

@media only screen and (max-height: 400px) {
    .navbar--primary {
        height: 15vh;
    }

    .navbar__span {
        font-size: 2em;
    }
}

@media only screen and (min-height: 400px) and (max-height: 600px) {
    .navbar--primary {
        height: 20vh;
    }

    .navbar__span {
        font-size: 2.75em;
    }
}


