.sparklinesbuttons--primary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cryptochart--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sparkline--primary {
    width: 99.75%;
    margin: 0px auto;
    height: 30vh;
    display: flex;
    justify-content: center;
}



.sparklinebuttons__button {
    border: none;
    background-color: #17D4A5;
    color: white;
    padding: 15px 0px;
    border-right: 1px solid white;
    width: 100%;
    outline: none;
    font-size: 0.85em;
    transition: 0.3s;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    
    .cryptochart--primary {
        width: 100%;
    }
    
    .sparklinesbuttons--primary {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .sparklinebuttons__button {
        border: none;
        color: white;
        padding: 15px 0px;
        border-right: 1px solid white;
        width: 100%;
        outline: none;
        font-size: 0.85em;
        transition: 0.3s;
        
    }

    .sparklinebuttons__button:last-child {
        border-right: none;
    }

    .sparkline--primary {
        width: 99.75%;
        height: 25vh;
    }
    
    tspan {
        font-size: 0.65em;
        color: black;
    } 
    
}

@media only screen and (max-height: 400px) {
    .sparkline--primary {
        width: 99.75%;
        height: 65vh;
    }
    tspan {
        font-size: 0.65em;
        color: black;
    } 
    
}

@media only screen and (min-height: 400px) and (max-height: 600px) {
    .sparkline--primary {
        width: 99.75%;
        height: 65vh;
    }
    tspan {
        font-size: 0.65em;
        color: black;
    } 
    
}

@media only screen and (min-height: 600px) and (max-height: 800px) {

    .sparkline--primary {
        width: 99.75%;
        height: 35vh;
    }
    tspan {
        font-size: 0.65em;
        color: black;
    } 
    
}

@media only screen and (min-width: 1024px) {

    .sparkline--primary {
        width: 99.75%;
        height: 45vh;
    }
    tspan {
        font-size: 0.75em;
        color: black;
    } 
}



