.extrainfo--primary {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tickers--primary {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tickers__head {
    text-align: center;
    font-size: 1.25em;
}

.tickers__scrollable {
    overflow: scroll;
    height: 25vh;
    width: 100%;
}

.tickers__table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

.tickers_headrow {
    border-top: 1px solid #cececf;
    border-bottom: 1px solid #cececf;
}

.tickers__headcol {
    margin: 0px;
    padding: 0px;
    top: 0;
    position: sticky;
    width: 20vw;


}

.tickers__headcolbutton {
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #11698e;
    outline: none;

}



.tickers__row {
    border-bottom: 1px solid #cececf;
}


.tickers__dataexchange {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 800;
}

.tickers__data {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto-Light', sans-serif;
}

.tickers_link {
    text-decoration-line: none; 
    font-weight: bold;
}


button.ascending::after {
    content: '👇';
    display: inline-block;
    position: absolute;
}
button.descending::after {
    content: '☝️';
    display: inline-block;
    position: absolute;
}