.pagination--primary {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
}

.paginationul--primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    
}

.paginationul__button {
    font-family: 'Poppins-Semibold';
    height: 3.5vh;
    width: 3.5vh;
    font-size: 3em;
    background-color: transparent;
    color: #17D4A5;
    margin: 0px 5px;
    padding: 0px;
    outline: none;
    transition: 0.3s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.paginationul__button:hover {
    color: #13AD87;
}






@media only screen and (max-width: 700px) {
    .pagination--primary {
        width: 100%;
    }
    .paginationul__button {
        height: 4.5vh;
        width: 4.5vh;
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 700px)  {
    .pagination--primary {
        width: 100%;
    }
}