.tablecomponent--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.table--primary {
    width: 60%;
    border-collapse: collapse;
    margin: 0px;
}

.table__head__row {
    border-bottom: 1px solid #cececf;
    border-top: 1px solid #cececf;
}

.table__headcol {
    margin: 0px;
    padding: 0px;
}


.tablebody__data {
    text-align: center;
}
.tablebody__data--name {
    text-align: left;
}

.table__row {
    border-bottom: 1px solid #cececf;
    transition: 0.1s;
}
.table__row:hover {
    background-color: rgb(227, 227, 231);
}

.table__headcol__button {
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 500;
    color: #b0b0b1;
    padding: 10px 0px;
    cursor: pointer;
    outline: none;
}

.table__headcol__button--name {
    text-align: left;
    padding-left: 45px;
}
.table__headcol__button:hover {
    background-color: rgb(227, 227, 231);
}

.table__headcol--sparkline {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 500;
    color: #b0b0b1;
}

.table_ {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tablebody__nameimage {
    margin: 0px 10px;
}
.s {
    padding: 0px 0px 0px 0px;
}

@media only screen and (max-width: 700px) {

    
    .table--primary {
        width: 100%;
        border-collapse: collapse;
        padding: 0px 10px;
    }

    .tablebody__data--pricechange24h {
        display: none;
    }
    .tablebody__data--priceinbtc {
        display: none;
    }
    .tablebody__data--volume {
        display: none;
    }
    .tablebody__data--sparkline {
        display: none;
    }
    /*  */

    .table__headcol--pricechange24h {
        display: none;
    }
    .table__headcol--priceinbtc {
        display: none;
    }
    .table__headcol--volume {
        display: none;
    }
    .table__headcol--sparkline {
        display: none;
    }

    .table__headcol__button--name {
        text-align: center;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 700px)  {
    .table--primary {
        width: 100%;
        border-collapse: collapse;
        padding: 0px 10px;
    }
}
