.tablecomponent--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.table--primary {
    width: 60%;
    border-collapse: collapse;
}

.table__headcol {
    margin: 0px;
    padding: 0px;
}

.tablebody__data {
    text-align: center;
}



@media only screen and (max-width: 600px) {

    
    .table--primary {
        width: 100%;
        border-collapse: collapse;
    }

    .tablebody__data--pricechange24h {
        display: none;
    }
    .tablebody__data--priceinbtc {
        display: none;
    }
    .tablebody__data--volume {
        display: none;
    }
    .tablebody__data--sparkline {
        display: none;
    }
    /*  */

    .table__headcol--pricechange24h {
        display: none;
    }
    .table__headcol--priceinbtc {
        display: none;
    }
    .table__headcol--volume {
        display: none;
    }
    .table__headcol--sparkline {
        display: none;
    }
}