
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Fredoka; 
  src: url(./fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: Poppins-Regular; 
  src: url(./fonts//Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Semibold; 
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Roboto-Thin; 
  src: url(./fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Light; 
  src: url(./fonts/Roboto-Light.ttf);
}

body {
  background: white;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}


input, textarea, button, select, a, img {
  -webkit-tap-highlight-color: transparent;
}