/* DARK BLUE #11698e
    main color : #17D4A5
    hover color : #13AD87
*/


.crypto--primary {
    /* border: 1px solid orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cryptoinfo--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

}

.maindetails--primary {
   /*  border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.maindetailcont1--primary {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: 3px solid blue; */
    height: 100%;
    padding: 0px;
    margin: 0px;
}


/* SUB CONTAINER ONE (IMAGE, NAME, RANK,  */
.maindetailsubcont1--primary {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.maindetailsubcont1__image {
    height: 40px;
    width: 40px;
    margin: 0px 10px 0px 0px;
}

.maindetailsubcont1__name {
    font-family: 'Roboto-Thin';
    font-size: 1.25em;
    padding: 0px;
    margin: 0px 5px;
}

.maindetailsubcont1__rank {
    border: none;
    background-color:#11698e;
    color: white;
    font-family: 'Roboto';
    padding: 2.5px 7.5px;
    border-radius: 5px;
    margin: 0px 10px;
}

/* PRICE, PRICE CHANGE 24HR DIRECTIONAL */
.maindetailsubcont1--secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 10px 20px;
    width: 100%;
    /* border: 1px solid; */
    font-family: 'Roboto-Light';
}

/*  MAIN DETAIL CONT 2 */

.maindetailcont2--primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    width: 35%;
    /* border: 3px solid blue; */
    padding: 10px 0px;
}

.maindetailsubcont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.maindetailsubcont1__price {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto-Light';
    font-weight: 400;
}

.maindetailsubcont1__priceChange24hr {
    padding: 0px;
    margin: 0px 10px;
    font-size: 1em;
}

.maindetailsubcont2__head {
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
}

.maindetailsubcont2__text {
    font-family: 'Roboto-Light';
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.maindetailsubcont3--primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    
    
}

.maindetailsubcont3__link {
    border: 2px solid #17D4A5;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background: #17D4A5;
    border-radius: 10px;
    transition: 0.5s;
}

.maindetailsubcont3__link:hover {
    border: 2px solid #17D4A5;
    background-color: white;
    color: #17D4A5;
}

.statsection--primary {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.maindetailcont4--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 25%;
}

.maindetailsubcont4--primary {
    width: 100%;
}

.maindetailsubcont4__head {
    text-align: center;
    font-size: 1.25em;
}

.maindetailsubcont4__table {
    width: 100%;
    border-collapse: collapse;
}

.maindetailsubcont4__tablerow {
    border-bottom: 1px solid #cececf;
}

.maindetailsubcont4__tablerow:first-of-type {
    border-top: 1px solid #cececf;
}

.maindetailsubcont4__tabledata1 {
    width: 50%;
    padding: 10px 0px 10px 10px;
    font-family: 'Roboto-Light', sans-serif;
    
}

.maindetailsubcont4__tabledata2 {
    font-family: 'Roboto-Light', sans-serif;
    text-align: left;
    width: 50%;
    padding: 10px 0px 10px 10px;
}




@media only screen and (max-width: 600px) {

    .cryptoinfo--primary {
        width: 100%;
    }
    .maindetails--primary {
        flex-direction: column;
        width: 100%;
    }
    .maindetailcont1--primary {
        width: 100%;
        align-items: center;
    }

    .maindetailsubcont2__head {
        font-size: 1em;
    }

    .maindetailsubcont1--primary {
        width: 100%;
        justify-content: center;
    }
    .maindetailsubcont1--secondary {
        width: 100%;
        justify-content: center;
        padding: 5px 0px 10px 0px;
    }

    .maindetailcont2--primary {
        width: 100%;
    }
    
    .maindetailsubcont3--primary {
        display: none;
    }

    .statsection--primary {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }

    .maindetailcont4--primary {
        flex-direction: column;
        width: 100%;
    }
    .maindetailsubcont4__table {
        width: 100%;
    }

}


@media only screen and (max-width: 1024px) and (min-width: 700px)  {
    .cryptoinfo--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .maindetailsubcont2__head {
        font-size: 1em;
    }
    
    .maindetailcont4--primary {
        width: 50%;
    }
}

@media only screen and (max-height: 400px) {
    .cryptoinfo--primary {
        width: 90%;
    }
    .maindetailsubcont2__head {
        font-size: 0.75em;
    }
    .maindetailsubcont3--primary {
        display: none;
    }

}

@media only screen and (min-height: 400px) and (max-height: 600px) {
    .cryptoinfo--primary {
        width: 90%;
    }
    .maindetailsubcont2__head {
        font-size: 0.75em;
    }

}

